{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Contact App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'contact:contact_new' %}" class="float-right"><i class="far fa-plus-square"></i></a>
            <h1><a href="/">CONTACT APP</a></h1>
            <p>There are {{count}} entries in your contact list.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
